:root{

    --bg-colour: #111111;
    --primary-colour: #153466;
    --secondary-colour: #737175;
    --text-colour: white;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    padding: 10px;
}

body{
    background-color: var(--bg-colour);
    color: var(--text-colour);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#check:checked{
    fill: black;
}
.wrapper{
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#list{
    padding-left: 0;
}

#todo-input{
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    background-color: var(--bg-colour);
    font: inherit;
    color: inherit;
    border: 5px solid var(--primary-colour);
    border-radius: 1000px;
}
#todo-input:focus{
    outline: none;
}
#add-button{
    padding: 15px;
    background-color: var(--primary-colour);
    font: inherit;
    color: inherit;
    border: 3px solid var(--primary-colour);
    border-radius: 1000px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;

}


.custom-checkbox{
    display: flex;
    border: var(--primary-colour) solid 3px;
    border-radius: 1000000000px;
    cursor: pointer;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]:checked ~ .custom-checkbox{
    transition: ease 100ms;
    background-color: var(--primary-colour);
}

input[type="checkbox"]:checked ~ .custom-checkbox svg{
    transition: ease 100ms;
    fill: var(--text-colour);
}
input[type="checkbox"]:checked ~ .todo-text{
    transition: ease 100ms;
    color: var(--secondary-colour);
    text-decoration: line-through;
}

.todo-text{
    transition: ease 100ms;
    cursor: pointer;
}

.todo-item{
    font: inherit;
    margin-top: 10px;
    padding: 10px;
    border: 5px solid var(--primary-colour);
    border-radius: 10000px;
    background-color: var(--bg-colour);
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.trash{
    position: absolute;
    right: 3%;
    cursor: pointer;
    background: none;
    border: none;
}
.trash svg:hover{
    transition: ease 100ms;
    fill: #c22b2b;
}

.trash svg{
    transition: ease 100ms;
}

h1{
    margin-top: 10vh;
    color: var(--primary-colour);
    font-weight: 800;
    font-size: 80pt;
}